.outside {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.top-bar {
  color: white;
  position: relative;
  height: 6.5%;
  background-color: var(--main-color);
  transition: all 0.3s;
  padding: 0 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.top-profile img {
  height: 2.5rem;
}

.top-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-profile a {
  color: white;
}

.top-nav {
  position: absolute;
  bottom: 1rem;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-width: 80%;
}

.top-nav ul {
  list-style-type: none;
}

.top-nav li {
  float: left;
  transition: all 0.3s;
  margin-right: 1rem;
}

.top-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.top-nav li.active a {
  font-weight: bold;
  pointer-events: none;
}

.top-nav li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.2s all ease-out;
}

.top-nav li.active::after {
  transform: scale(1);
  transition: 0.2s all ease-out;
}

.top-nav li:not(.active):hover:after {
  transform: scale(1);
}

.inside {
  margin: 0;
  position: relative;
  top: 0;
  height: 93%;
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.profile-view {
  display: flex;
  align-items: center;
}

.profile-detail {
  text-align: right;
  margin-right: 1rem;
}

.profile-detail .name {
  font-size: 1.25rem;
}

.sidenav li.active {
  width: 100%;
}

.sidenav li.active a {
  color: var(--main-color);
  font-weight: bold;
}

.sidenav li {
  position: relative;
}

.sidenav li.active::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: 0.2s all ease-out;
}

/* Pemohon */
.pemohon.dashboard .row {
  position: relative;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.pemohon.dashboard .card.except {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pemohon.dashboard .card:not(.except) {
  position: relative;
  top: 3rem;
  height: 20rem;
  padding: 0 1rem;
}

.pemohon.dashboard .card:not(.except) .btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.pemohon.dashboard .icon {
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  padding: 3rem;
  background-color: var(--main-color);
  color: white;
  top: -3rem;
  left: 50%;
  transform: translate(-50%);
}

.pemohon.dashboard .icon i {
  font-size: 3.5rem;
}

.pemohon.profil .card {
  padding: 1rem;
}

.pemohon.profil .edit-button {
  position: absolute;
  top: 2rem;
  right: 0;
}

.pemohon.profil .button-bar {
  position: relative;
}

.book {
  position: relative;
  height: 85vh;
  padding: 1rem;
}

.paper-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.paper-main {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.paper-fold {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s;
}

.paper-fold.from-right {
  left: 100%;
  right: 0;
  bottom: 0;
  top: 0;
}

.paper-fold.from-left {
  left: 0;
  right: 100%;
  bottom: 0;
  top: 0;
}

.paper-fold.from-top {
  left: 0;
  right: 0;
  bottom: 100%;
  top: 0;
}

.paper-fold.from-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
}

.paper-fold.active {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
}

.collection span.pill {
  padding: 4px 10px;
  font-size: small;
  color: white;
  border-radius: 5rem;
  background-color: var(--main-color);
}

.collection .collection-item.avatar {
  padding-left: 92px;
}

.collection img.profil {
  width: initial !important;
  height: 80% !important;
}

.paper-content {
  height: 85%;
  overflow: auto;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  /* Pemohon */
  .pemohon.dashboard .row {
    flex-direction: row;
    gap: 1rem;
  }

  .pemohon.dashboard .card:not(.except) {
    flex: 1;
    top: 2rem;
  }

  .pemohon.dashboard .icon {
    padding: 2rem;
    top: -2rem;
  }

  .pemohon.dashboard .icon i {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 993px) {
  /* For large: */
  .top-bar {
    height: 25%;
    padding: 1rem 3rem;
  }

  .top-profile {
    height: 5rem;
  }

  .top-profile img {
    height: 3.5rem;
  }

  .inside {
    height: 75%;
    padding: 2rem;
  }

  .sidenav,
  .sidenav-trigger,
  .sidenav-overlay {
    display: none !important;
  }

  .staf .content .col {
    padding: 1rem;
  }

  .book {
    height: 60vh;
  }
}
