{% extends "layout/chatbot.html" %}
{% block inside %}

<div class="screen">
  <div class="header">
    <div style="display: flex; align-items: center; gap: 1rem;">
      <div class="logo-wrapper" style="background-color: white; border-radius: 5rem;">
        <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo" style="width: 2.5rem;">
      </div>
      <p>Smart Tour Guide</p>
    </div>
  </div>
  <div class="chat-wrapper">
  </div>
  <div class="input-wrapper">
    <div class="input-field">
      <textarea placeholder="Masukkan text" id="input-text" name="input-text" class="materialize-textarea"></textarea>
    </div>
    <a role="button" href="#" class="input-button"><i class="material-icons">send</i></a>
  </div>
</div>

{% endblock %}