<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ant Colony</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dt/datatables.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css')}}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css')}}" />
    {% block style %}{% endblock %}
</head>

<body>
    <div class="outside">
        {% include "layout/panel-topbar.html" %}
        <div class="inside">
            <div class="container">
                {% block inside %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.umd.js')}}"></script>
    <script src="{{ url_for('static', filename='js/swal.js')}}"></script>
    <script src="{{ url_for('static', filename='dt/datatables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/utils/puller.js')}}"></script>
    <script>
        const baseUrl = "";
        const baseOSRM = "http://router.project-osrm.org/route/v1/driving/";
        let page = "{{ page }}";
        const cloud = new Puller();
    </script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/panel.js')}}"></script>
    {% block script %}{% endblock %}
</body>

</html>